<!DOCTYPE html>
<html>
<head>
    <title>Web app envs</title>
    <style>
        #from_vault {
          background-color: orange;
          font-weight: bold;
        }

        #from_file {
            background-color: yellow;
        }

        #hidden {
          display: none;
        }

        th {
            text-align: center;
            font-weight: bold;
            background: lightgray;
            border: 1px solid black;
        }

        table, th, td {
            border: 1px solid black;
        }

        td {
            text-align: left;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }
    </style>
    <script>
        function paint() {
            let vars_table = document.getElementById("vars_table");
            let rows_total = vars_table.rows.length;
            for (let idx = 0; idx < rows_total; idx++) {
                let row = vars_table.rows[idx];
                if (row.cells[0].textContent === "file") {
                    row.id = "from_file"
                    continue
                }
                if ((row.cells[1].textContent.startsWith("FROM_VAULT_")) || (row.cells[1].textContent === "VAULT_TOKEN") || (row.cells[1].textContent === "SECRETS_DIRS")) {
                    row.id = "from_vault";
                } else if ((row.cells[1].textContent.startsWith("KUBERNETES_")) || (row.cells[1].textContent.startsWith("PROJECT_"))) {
                    row.id = "hidden"
                }
            }
        }
    </script>
</head>
<body onload="paint()">
<table id="vars_table">
    <tr>
        <th>Source</th>
        <th>Name</th>
        <th>Value</th>
    </tr>
    {{ range $source, $vals := . }}
        {{ range $env, $val := $vals }}
            <tr>
                <td>{{ $source }}</td>
                <td>{{ $env }}</td>
                <td>{{ $val }}</td>
            </tr>
        {{ end }}
    {{ end }}
</table>
</body>
</html>
